@using CodingEvents.Models
@model List<Event>

<h1>Coding Events</h1>
@if (Model.Count == 0)
{
    <p>No events yet!</p>
}
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Contact Email</th>
        <th>Event Type</th>
    </tr>
    @foreach (var evt in Model)
    {
        <tr>
            <td>@evt.Id</td>
            <td>@evt.Name</td>
            <td>@evt.Description</td>
            <td>@evt.ContactEmail</td>
            <td>@evt.Type</td>
            <td><a asp-controller="Events" asp-action="Edit" asp-route-id="@evt.Id">Edit Event</a></td>
        </tr>
    }
</table>
<p>
    <partial name="_Links" /> @*No file extension (e.g. .cshtml), search for partial in Views/_Shared*@
</p>